<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mainLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Job List</title>
    <script src="/js/jobScript.js"></script>
</head>
<body>
<div id="mainBoard" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Job</h4>
            </div>
        </div>

        <!-- Search form and Sort by role -->
        <div class="row d-flex justify-content-start">
            <div id="searchJobDiv" class="list-form-search">
                <form action="#" class="row g-3" id="searchJobForm">
                    <div class="col-auto">
                        <input class="form-control" type="search" name="search" id="searchJob"
                               aria-label="Recipient's username" aria-describedby="searchIcon" placeholder="Search">
                        <img src="/images/search.png" alt="search-icon" id="searchIcon">
                    </div>
                    <div class="col-auto">
                        <select class="form-select" name="status" id="filterByStatus">
                            <option value="">Status</option>
                            <option value="Draft">Draft</option>
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end w-100 pe-4 pb-4">
            <a th:href="@{/jobs/create}" id="addNewButton" class="btn btn-secondary">
                Add new
            </a>
            <a id="importJobButton" class="btn btn-secondary ms-3">
                Import
            </a>
        </div>
        <!-- END Search form and Sort by role -->
        <div class="row">
            <span id="resultMessage" class="text-success text-end fst-italic"></span>
        </div>
        <!-- User list table -->
        <div class="row table-data" id="jobTable">
            <div class="col-12 table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">Job Title</th>
                        <th scope="col">Required Skills</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Level</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody id="jobList" class="table-body-data">
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="row" id="pagination">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end align-items-center">
                        <li class="page-item">
                            <span id="pageInfo"></span>
                        </li>
                        <li class="page-item">
                            <button class="btn page-link" id="prevPage">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m15 19-7-7 7-7"/>
                                </svg>
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="btn page-link" id="nextPage">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"
                                     viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m9 5 7 7-7 7"/>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- END Pagination -->
        </div>
    </div>
</div>
</body>
</html>